@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ececec;
  background: #212121;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: none;
}
*::-webkit-scrollbar-thumb {
  background-color: #2f2f2f;
  border-radius: 3px;
}
body input,
body textarea {
  color: black;
}

a:hover {
  border-bottom: 1px solid;
}

p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}
